
 /* CSS Code For Hero-Image @ top of Page */
body {
	font-family: 'PT Sans Caption',"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 3vh;
}



#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 5vh;
  font-weight: bold;
}
	
#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}
	


.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
	color: white;
	background: url(https://images.unsplash.com/photo-1500417148159-68083bd7333a) center center no-repeat;
	background-size: cover;
}

.hero-title {
	max-width: 16em;
	margin: 0;
    text-align: center;
	font-size: 10vh;
	font-weight: bold;
	line-height: .6;
}

.trademark{
    font-size: large;
}


.quote{
    margin: 0;
    text-align: center;
    padding-top: 1%;
	font-size: 3vh;
	font-weight: bold;
    font-style: italic;
	line-height: .6;
    color: #c2f45f;
}

	
	@media only screen and (min-width: 32em) { .hero-title { font-size: 16vh; } }	

.hero-footer {
	display: flex;
	margin-bottom: 1em;
}

.button {
	padding: .5em .67em;
	color: white;
	text-decoration: none;
	border: .1em solid white;

}
	
	.button-primary {
		color: black;
		background-color: rgb(222, 241, 81);
	}
	


article {
	max-width: 36em;
	margin: 0 auto;
	padding: 1em;
}	
 
/* ------------------------------END OF HERO IMAGE @ TOP OF PAGE-------------------------------------------------



